*{
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  font-size: 12pt;
  line-height: 22pt;
  color: #000;
}

menu{
  top:0;
  margin: 0;
  padding: 60px;
  position: fixed;
  width: 300px;
}

#content {
  margin-left: 300px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

img {
  max-width: 500px;
  margin: 20px;
}

iframe {
  margin-top: 20px;
}

/*-------*/
/* tekst */
/*-------*/


h1 {
  font-family: sans-serif;
  font-weight: 400;
  margin-top:50px;
  font-size: 50px;
  color: white;
  line-height: 40px;
  letter-spacing: 1px;
}

h2 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: white;
  letter-spacing: 1px;
}

p {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 200;
  line-height: 25px;
  margin-top: 0px;
  color: white;
}

a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  color: white;
  text-decoration: none;
}

sub {
  line-height: 16px;
  color: white;
}

.intro {
  position: fixed;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-decoration: none;
  top: 40%;
  right: 0;
  margin-right: -60px;
  z-index: 999;
  text-align: right;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: white;
}

